@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ViewProduct
@{ViewProduct viewProduct = (ViewProduct)this.ViewData["ViewProduct"]; }
@if (viewProduct == null) { viewProduct = Model; }
<div class="card-footer">
    <div class="section" style="display:inline-block;">
        @*<h6 class="title-attr"><small>Quantity</small></h6>*@
        <div>
            <button class="btn-minus" onclick="ClickMinus(this)"><span class="glyphicon glyphicon-minus"></span></button>
            <input id="input-@viewProduct.SKU" readonly value="1" style="width:30px" />
            <button class="btn-plus" onclick="ClickPlus(this)"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="section" style="float:right; display:inline-block;">
            <button type="button" onclick="AddToCart('@viewProduct.SKU', parseInt($('#input-@viewProduct.SKU').val()), false)" class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>ADD TO CART</button>
        </div>
        //<button type="button" onclick="AddToCart('@viewProduct.SKU',1)" class="btn btn-default addCartButton"> Add to Cart </button>
    }
    else
    {
        <div class="section" style="float:right; display:inline-block;">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>ADD TO CART</a>
        </div>
    }
</div>
<script src="~/js/site.js" defer="defer"></script>
